<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika project berada di subfolder (mis. http://localhost/SPK-NEO/), sesuaikan RewriteBase:
    RewriteBase /SPK-NEO/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

Options -Indexes
